.forum-container{
    background: linear-gradient(#dbf5fd, #fffcfc);
    height:100vh;
}
.forum-content{
    padding-top:6rem;
}
.card{
    background-color: #b3b3b3;
}
.btn{
    background-color: #038747!important;
    border:#038747   !important;
}
span{
    cursor: pointer;
}
