.forum-container{
    background: linear-gradient(#dbf5fd, #fffcfc);
    height:100vh;
}
.forum-content{
    padding-top:6rem;
}
.card{
    background-color: #e7e6e6;
}
.btn{
    background-color: #7ae6b2 !important;
    border:#7ae6b2   !important;
}
span{
    cursor: pointer;
}
